<h3>Listing concentrators</h3>

<table class="table">
  <tr>
    <th>Device ID</th>
    <th>Last assigned ip</th>
    <th>Last packet sent</th>
    <th>Battery Voltage</th>
    <th>Hand Phone</th>
    <th>CSQ</th>
    <th>revision number</th>
    <th>Location</th>
    <th>Remarks</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @concentrators.each do |concentrator| %>
  <%= active_status = !concentrator.project.blank? and concentrator.project.status == "Ongoing" %>

     <% if concentrator.concentrator_csq >=95 
	csqcolor="red"
	elsif concentrator.concentrator_csq>=85 && concentrator.concentrator_csq<95
	csqcolor="orange"
	elsif concentrator.concentrator_csq<85
	csqcolor="#00FF33"
	end 
      %>

  <tr>
    <td><%= link_to concentrator.device_id, edit_concentrator_path(concentrator) %></td>
    <td><%= concentrator.last_assigned_ip_address %></td>
    <td><%= concentrator.last_communication_packet_sent %></td>
    <td><%= concentrator.battery_voltage %>V</td>
    <td>+65<%= concentrator.concentrator_hp %></td>
    <td><font color=<%= csqcolor %>><b>-<%= concentrator.concentrator_csq %>dBm</b></font></td>
    <td><%= concentrator.hardware_revision_number %></td>
    <td><%= active_status ? "" : concentrator.project.jobsite_location %></td>
    <td><%= concentrator.remarks %></td>
    <td><%= active_status ? "Active" : "Inactive" %></td>
    <td><%= link_to '', concentrator, method: :delete, data: { confirm: 'Are you sure?' }, class: "remove" %></td>
  </tr>
<% end %>
</table>

<br />

<div>
  <%= page_navigation_links @concentrators %>
</div>

<%= link_to 'New Concentrator', new_concentrator_path, class: "btn" %>
